/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.discordapp.com/attachments/1224958614570274878/1225608516916482129/depositphotos_61868743-stock-photo-weather-forecast-concept.jpg?ex=6621bfe1&is=660f4ae1&hm=8cb6c3b6499b7f8863e381278493e563958529cd02337caf14a433e5c23cb7b6&
    );
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5; 
    /* Fondo de respaldo si la imagen no carga */
}

    /*Login*/
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

#login form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5em;
    border-radius: 0.5em;
}

    /*Formulario de Registro*/
#register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

#register form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5em;
    border-radius: 0.5em;
}

    /*Tabla de contactos*/
dialog::backdrop {
    background-image: linear-gradient(
        45deg,
        magenta,
        rebeccapurple,
        dodgerblue,
        green
    );
    opacity: 0.75;
}

#perfil {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5em;
    padding: 5em 0;
    text-align: center;
}

    /*Tabla de contactos*/
table {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5em;
    border-radius: 0.5em;
    width: 100%;
    border-collapse: collapse;
    color: #5d29cd;
}

th,td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Estilos de la cabecera */
header {
    background-color: #0e1425;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div {
    width: 5em;
}

header div img {
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Estilos del cuerpo */
section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5em;
    border-radius: 0.5em;
    opacity: 65%;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

h1 {
    color: #842ba7;
    text-align: center;
}

h3 {
    font-size: 18px;
    color: #b02424;
}

h5 {
    color: #258d82;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #7f2abb;
}

strong {
    font-weight: bold;
    color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social li {
    margin-right: 10px;
}

.social li a {
    color: #fff;
    text-decoration: none;
}

.social li a:hover {
    color: #ccc;
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
    div.container {
        max-width: 90%;
    }
}
